<div class="jumbotron1">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h3>Create Student </h3>
        <div class="example-container">
          <form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">
            <div class="form-group">
              <mat-form-field>
                <input matInput placeholder="First Name" formControlName="firstName">
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <input matInput placeholder="Last Name" formControlName="lastName">
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field >
                <input matInput placeholder="Email" formControlName="email">
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field>
                <input matInput placeholder="Password" formControlName="password">
              </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dateOfBirth">
                    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
              </div>
            <div class="form-group">
              <mat-form-field>
                <textarea matInput formControlName="address"  placeholder="Address">
              </textarea>
              </mat-form-field>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-3 text-right">
        <button class="btn btn-primary btn-list" (click)="viewStudentList()">View Student List</button>
        <button class="btn btn-primary" *ngIf="!isEdit" [disabled]="!registerForm.invalid" (click)="createStudent()">Add New Student</button>
        <button class="btn btn-primary" *ngIf="isEdit" [disabled]=""  (click)="updateStudent()">Update Student</button>
      </div>
    </div>
  </div>